@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fredoka';
  src: url('../fonts/fredoka-one-v13-latin-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-v20-latin-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}